#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  gap: 1rem; /* espaçamento entre os dropdowns */
  flex-wrap: wrap; /* quebra linha se a tela for pequena */
  justify-content: center; /* centraliza os dropdowns na tela */
  margin-top: 2rem;
}

.textField {
  margin-top: 2rem;
  width: 40rem;
  height: 3rem;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  text-align: left;
  color: black; /* cor do texto digitado */
  font-size: 1.2rem; /* tamanho da fonte */
  border: none;
  padding-left: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

/* Cor do texto do placeholder */
.textField::placeholder {
  color: gray;
  opacity: 1; /* Garante que o cinza apareça mesmo em alguns navegadores */
}


.caixaTextoECopiar {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.caixaNomeCampanha {
  width: 50rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; /* texto à esquerda e nome à direita */
  background-color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: black;
  border: gray 2px solid;
  padding: 0 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.texto {
  color: gray;
  font-weight: bold;
}

.nomeCapanha {
  color: black;
  word-break: break-all; /* Evita overflow para nomes longos */
}

.botaoCopiar {
  height: 4rem;
}